.container {
	width: 100%;

	border-radius: 0 0 30px 30px;
	background: #ecf0f3;
	box-shadow: 10px 10px 20px #d0d3d6,
		-10px -10px 20px #ffffff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1340px;
	padding: 20px;
	margin: 0 auto;

}

.header__logo {
	display: flex;
	width: 50%;
	align-items: center;
}

.logo {
	width: 50px;
}

.logo__title {
	display: inline-block;
	margin-left: 15px;
	font-weight: bold;
	font-size: 20px;
}

.login {
	display: flex;

	width: 50%;
	color: black;
}

.info {
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.link {
	margin-right: 10px;
}

.user {
	width: 30%;
	margin: 0 10px;

	text-align: right;
	font-size: 20px;
	font-weight: bold;
}